In [1]:
map-to map the function over iterator
Reduce-reduce the dataset using function over iterator for cumulative operations
Filter-filetered data based on some condition



#Map function
-The map() function iterates a specified function for each item in an iterable. 
The item is sent to the function as a parameter.

map(function, iterables)

---------
reduce function 
--from functools import reduce    # package -functools
---takes one function and iterable object as args and goes each and every ele in iterable 
and do some CUMULATIVE OPERATIONS
--we are trying to reduce our data using reduce
--in Reduce, first arg is function in that only give max 2 args othewise error may come
ex: reduce(lambda a,b: a+b, lis)      # perfect
    reduce(lambda a,b,c:a+b+c, lis)   #ERROR

reduce(function, sequence[, initial]) -> value
-implements a mathematical technique called folding or reduction. 
-reduce() is useful when you need to apply a function to an iterable and reduce it to a single cumulative value

Apply a function of two arguments cumulatively to the items of a sequence,
from left to right, so as to reduce the sequence to a single value.
For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
of the sequence in the calculation, and serves as a default when the
sequence is empty. 

by using initial value the first element will be the initial value and 
the provided list first element will be the second parameter

--------------
Filter function
-filtered data which is true on given condition

filter(function or None, iterable) --> filter object

Return an iterator yielding those items of iterable for which function(item)
is true. If function is None, return the items that are true.

way1: for loop

In [2]:
l=[1,2,3,4]
l1=[]
for i in l:
    l1.append(i+2)

In [3]:
l1

[3, 4, 5, 6]

way 2: List comprehension  [return var then exp]

In [5]:
[i+2 for i in l]

[3, 4, 5, 6]

way3: MAp function map(func, iterable)-need func and terable

In [6]:
def test1(n):
    return n+2

In [8]:
map(test1,l)

In [9]:
list(map(test1,l))

[3, 4, 5, 6]

way 4 : lambda function lambda arg: exp

In [11]:
list(map(lambda n: n+2,l))

[3, 4, 5, 6]

In [7]:


def test2():
    m=""
    for i in l:
        m=m+(str(i))
            
    print(m)

# Q1: convert all data in the list into string

In [26]:
l=[2,3,4,5,"sPri","gupta"]

In [13]:
list(map(lambda i: str(i),l))

['1', '2', '3', '4']

#  Q2. map func, if int then data+2 and if string then concatenate str+'OK"'

In [35]:
def test3(i):
    if type(i)==int:
        i=i+2
    else:
        if type(i)==str:
            i=i+'OK'
    return i

In [36]:
list(map(test3,l))

[4, 5, 6, 7, 'sPriOK', 'guptaOK']

or using lambda func:

In [42]:
list(map(lambda i: i+2 if type(i)==int else i+'ok',l))

[4, 5, 6, 7, 'sPriok', 'guptaok']

sum of all eles in list

In [43]:
l=[23,5,45,67,8,9]

In [45]:
sum=0
for i in l:
    sum=sum+i

In [46]:
sum

157

for above summation, there is predefined function, Reduce function

In [50]:
from functools import reduce

In [51]:
reduce(lambda a,b: a+b,l)

157

another way if we are describing named function addi then giving it as an arg in reduce func

In [53]:
def addi(a,b):
    sum=a+b
    return sum

In [54]:
reduce(addi,l)

157

finding max ele in list

In [57]:
l1=[4,7,34,67,0,9]

In [58]:
reduce(lambda a,b:a if a>b else b,l1)

67

now 3 vars in lambda function-in Reduce in first arg func, dnt use more than 2 args like a and b only not a,b,c

In [60]:
reduce(lambda a,b,c:a+b+c, l1)            #ERROR-because in the last it wont get the value for c arg for summation  as list has already ended

TypeError: <lambda>() missing 1 required positional argument: 'c'

In [61]:
reduce(lambda a,b,c:a+b+c,2,l1)

TypeError: reduce() arg 2 must support iteration

# Filter function

In [67]:
l=[4,5,6,7]
list(filter(lambda a:a if type(a)==int else "ok",l))     #not getting proper result

[4, 5, 6, 7]

In [68]:
list(filter(lambda a:a if a>=5 else "ok",l))             #not getting proper result

[4, 5, 6, 7]

In [75]:
l=[4,5,6,7]
def test2(a):
    if type(a)==str:
        return True
    else:
        return False

In [76]:
list(filter(test2,l))

[]

In [78]:
l1=[4,5,6,7,"Pri"]
list(filter(test2,l1))

['Pri']

Q1.
Reduce func to perform concetination inside the list

In [80]:
l2=[1,2,3,5,8,"sudh","kumar"]

In [91]:
def test3(a,b):
    if type(a)==str and type(b)==str:
        return a+b
    else:
        if type(a)!=str:
            a=str(a)
        if type(b)!=str:
            b=str(b)
        return a+b

In [95]:
print(reduce(test3,l2))

12358sudhkumar

In [96]:
print(reduce(lambda a,b: str(a)+str(b),l2))

12358sudhkumar

#Q2. Filter all the string starting with 's'

In [94]:
l2=[1,2,3,5,8,"sudh","kumar"]

In [99]:
list(filter(lambda a:True if type(a)==str and str(a)[0]=="s" else False,l2))

['sudh']