Tuples-Datastructure in python (Vs List)
-Round brackets  (list has [] brackets)
-both are iterable same with indexing/slicing
-both can have any datatype like-str/float/int/boolean/complex/list/tuple inside tuple list inside tuple or vise versaetc.
-Diff==>Tuples are immutable (item assignment doest allow in tuples) Vs List is mutable/replaceble/changeable 
but if we want to change any element in tuple, we can convert it into list then change the element and again covert it into 
tuple
-to access elements in reverse=> t[::-1]


Set Vs dictionary
-{}-dict  vs  {1,2}-set or s=set()
-set
-doesnot have duplicates
-UNORDERED collection of UNIQUE elements
-not able to indexing but we can convert it into list and can access the elements
-But since they are unordered, indexing have no meaning. We cannot access or change an element of set using indexing or slicing.
Therefore we can say this-
A set is an UNORDERED collection of items. Every set ELEMENT is UNIQUE (no duplicates) and must be IMMUTABLE (cannot be changed because we cannot change elements in set using indexing). However, a set ITSELF is mutable. We can add or remove items from it.

Dictionary
-d={}
key-value pair 
key can be int/str/float etc. but not like _45 or #45 but "_45" or "#45" allowed bcoz these are now strs
dict can have any combination of data inside it as a VALUE-tuple/list/set/dic but not as KEY
dict is accessble through keys not indexing eg. d['name']

d.keys() will give key of d in form of LIST
d.values() will give values of d in form of LIST
d.items() will give the key and value pair in form of TUPLES

   
if duplicate KEYS are given in dictionary, last value will updated for the same KEYS  
because it doesnt allow same name keys inside it..unique keys should be there
d={"name":"Priyanka","Age":45}
ex: d={"name":"Priyanka","name":"Gupta"}
d will print {'name':'Gupta'}

if duplicate VALUES are given under different KEYS, then it is allowed
d={"name":"Priyanka","Age":45}
ex: d={"name":"Priyanka","othername":"Priyanka"}
d will print {'name':'Priyanka','othername':'Priyanka'} # because keys are diff

if MUTABLE data structure is given in KEYS, then not allowed w.r.t. IMMUTABLE......Str-immutable:
d={(2,3,4):"Priyanka", "age":34}   #tuple in KEY-ALLOWED coz tuple is immutable


d={[2,3,4)]:"Priyanka", "age":34}   #List in KEY- Not ALLOWED
therefore d[['name']] #list as a key inside dic not allowed 

d={{2,3,4}:"Priyanka", "age":34} #set in KEYS Not ALLOWED (Set itself mutable but eles immutable)

d={{(2,3,4):"Priyanka"}: "Gupta"} #dic in KEYS not ALLOWED


---
if dictionary inside dict, and we want to access eles through index, total no. of ele should be fixed then only accessible thru index


-----
we can acess eles using index/slicing opr/for loop

In [2]:
t=(1,2,3,"sudh","kumar")
l=[1,2,3,"sudh","kumar"]
print(type(t))
print(type(l))

<class 'tuple'>
<class 'list'>

In [3]:
print(t[0])
print(l[0])

1
1

In [5]:
#if moving direction to choose elements(first agr to 2nd arg in slicing opr) is opposite to the step direction(3rd arg) the always empty list/tuple results.
#slicing operation ->   datastructre[lowerbound:upperbound:stepsize] ==> l[0:3:1]
print(l[0:3:-1])
print(t[0:3:-1])

[]
()

In [6]:
#t-immutable vs l-mutable
l[0]=99
print(l[0])
t[0]=99   #will give error because it is item assigment which is not allowed in tuples, 
#means cant change any elelment at a particular index in the tuple

99

TypeError: 'tuple' object does not support item assignment

In [8]:
#but if aggining whole new tuple to same variable t then it mean we are changing the refernce, 
#not changing the item at particular index which is not allowed
#previously t=[1,2,3,4,"sudh","kumar"]
#now assgning whole new tuple to same t tuple var
t=[4,5,6,7]
print(t)

[4, 5, 6, 7]

In [9]:
#list having tuples
l=[(1,2,3,4),(5,6,7,8)]
print(type(l))

<class 'list'>

In [10]:
#Set Vs dictionary
d={}   #empty curly btraces are dictionary
s={1,2,3} #curbraces having elements are set
print(type(d))
print(type(s))

<class 'dict'>
<class 'set'>

In [11]:
#sets removes duplicates automatically when you acess elements
#Set 
s={1,2,3,3,3,3,3,"s","s"}
s

{1, 2, 3, 's'}

In [12]:
#s and S are different
s1={"s","S"}
s1

{'S', 's'}

In [13]:
d={}
print(type(d))

<class 'dict'>

In [14]:
d={"name":"priya", "age": 37}
d

{'name': 'priya', 'age': 37}

In [15]:
d={"name":"Priya", "name": "gupta"}   #Same key name, so last value got updated for the same keys
d

{'name': 'gupta'}

In [16]:
d={"name":"Priya", "name": "gupta","name":"K"}   
d

{'name': 'K'}

In [17]:
d1 = {"#fsff":"sudh" ,"name" :"kumar","n" :[4,5,5,6,7,"sudh",(3,4,5,66)],'t':(3,4,5,6) , "s" :{4,5,6,7,8} , "d" :{"y" : "fsdsf"}}
d1

{'#fsff': 'sudh',
 'name': 'kumar',
 'n': [4, 5, 5, 6, 7, 'sudh', (3, 4, 5, 66)],
 't': (3, 4, 5, 6),
 's': {4, 5, 6, 7, 8},
 'd': {'y': 'fsdsf'}}

In [18]:
d1['n']

[4, 5, 5, 6, 7, 'sudh', (3, 4, 5, 66)]

In [19]:
d1['n'][0]    #list inside dict and accessing list element through index [0] but dict key using key-'n'

4

In [21]:
d1['t'][0]

3

In [22]:
d1['s'][0]   #error- because set is unordered collection of eles then we cant access through index if positions are not fixed

TypeError: 'set' object is not subscriptable

In [23]:
#convert set into list or tuple then able to access ele through index
tuple(d1['s'])[0]

4

In [24]:
list(d1['s'])[0]

4

In [25]:
d1

{'#fsff': 'sudh',
 'name': 'kumar',
 'n': [4, 5, 5, 6, 7, 'sudh', (3, 4, 5, 66)],
 't': (3, 4, 5, 6),
 's': {4, 5, 6, 7, 8},
 'd': {'y': 'fsdsf'}}

In [32]:
d1['d']

{'y': 'fsdsf'}

In [33]:
 #if dictionary inside dict, and we want to access eles through index, total no. of ele should be fixed then only accessible thru index
d1['d']['y']  #many times it will not give exact position ele if no. of ele changes

'fsdsf'

In [35]:
d1['n'][-1][-1]

66

In [36]:
d

{'name': 'K'}

In [38]:
d[(1,2,3)]=4

In [39]:
d

{'name': 'K', (1, 2, 3): 4}

In [40]:
#accessingdic eles using list as KEY but Whole KEY
d[(1,2,3)]

4

In [42]:
#accessing eles using for loop instead of index or slicing opr
l=[4,6,7,8,9]
for i in l:
    print(i)
    #print(l[i])  #error

4
6
7
8
9

In [44]:
l=[1,2,3,"s","y",(1,2,3),{2,3,4,5},{'y':"name"}]
l

[1, 2, 3, 's', 'y', (1, 2, 3), {2, 3, 4, 5}, {'y': 'name'}]

In [45]:
for i in l:
    print(i)

1
2
3
s
y
(1, 2, 3)
{2, 3, 4, 5}
{'y': 'name'}

In [47]:
for i in l:
    if (type(l)==list):
        print(i)

1
2
3
s
y
(1, 2, 3)
{2, 3, 4, 5}
{'y': 'name'}

In [56]:
for i in l:
    if type(i)==set:
            print(i)

{2, 3, 4, 5}

In [59]:
l=[1, 2, 3, 's', 'y', (1, 2, 3), {2, 3, 4, 5}, {'y': 'name'},[1,2,3,4]]
l

[1, 2, 3, 's', 'y', (1, 2, 3), {2, 3, 4, 5}, {'y': 'name'}, [1, 2, 3, 4]]

In [70]:
for i in l:
    if type(i)==list:
        print(i)
        for j in i:
            if j==9:
                print("yes")

[1, 2, 3, 4]

In [72]:
for i in l:
    if type(i)==list:
        print(i)
        for j in i:
            print(j)

[1, 2, 3, 4]
1
2
3
4

In [73]:
d={'name':'priyanka', 'lastname':'gupta'}
d

{'name': 'priyanka', 'lastname': 'gupta'}

In [74]:
for i in d:
    print(i)

name
lastname

In [76]:
for i in d:
    print(i,d[i])

name priyanka
lastname gupta

In [78]:
d.keys()  #dic keys  #result is in list form

dict_keys(['name', 'lastname'])

In [92]:
d.values() #dic values   #here result is in list form

dict_values(['priyanka', 'gupta'])

In [93]:
d.items() #dic items-keys and values both

dict_items([('name', 'priyanka'), ('lastname', 'gupta')])

In [94]:
for i in d.items():    #here result is in tuple in case of items
    print(i)

('name', 'priyanka')
('lastname', 'gupta')

In [84]:
for i in d.keys():
    if type(d[i])==list:
        print("yes")
    else: 
        print("no list")

no list
no list

In [88]:
d1={"p":"q", "2":(1,2,3),"mail":{1,2,3},"df":[6,7,8],"pk":"sudh"}
d1

{'p': 'q', '2': (1, 2, 3), 'mail': {1, 2, 3}, 'df': [6, 7, 8], 'pk': 'sudh'}

In [111]:
for i in d1:  
    if type(d1[i])==list:    #d1[i] means value, i means keys
        print(d1[i])
        for j in d1[i]:
            if (j>7):
                print(j)

[6, 7, 8]
8

In [106]:
d1.items()

dict_items([('p', 'q'), ('2', (1, 2, 3)), ('mail', {1, 2, 3}), ('df', [6, 7, 8]), ('pk', 'sudh')])

In [121]:
for i in d1.items():
    #print(i)     # as a result- i is here tuples and we want list as value in the tuple
    #print(i[0],i[1])
    if (type(i[1])==list):
        for j in i[1]:
            if(j>7):
                print(j)

8

In [126]:
t5=(0,1,2,2,2,2,4,5,677,4)

In [127]:
t5

(0, 1, 2, 2, 2, 2, 4, 5, 677, 4)

In [129]:
t5[::-1]

(4, 677, 5, 4, 2, 2, 2, 2, 1, 0)

In [122]:
t[::-1]

[7, 6, 5, 4]